.Icon {
  color: var(--preto);
}

.Icon svg {
  width: 25px;
  height: 25px;
}

.Icon .wrong {
  color: var(--nao-lembrei);
}

.Icon .doubt {
  color: var(--cor-quase-nao-lembrei);
}

.Icon .right {
  color: var(--cor-zap);
}